footer div.footer1 {
    margin-top: 10px;
    background-color: #d9d9d9;
    min-height: 10vh;
  }
  footer{
      min-width: 100vw;
      position: relative;
      top: 90vh;
    }
    nav {
        display: flex;
        position: sticky;
        top: 0px;
        gap: 10vw;
        align-items: center;
        justify-content: center;
        background-color: #d9d9d9;
        min-height: 10vh;
        margin: 10px;
        border-radius: 20px;
      }
      .nav {
        background-color: #d9d9d9;
      }